<div class="jumbotron">
  <div class="row">
    <div class="span3">
      <!-- <img alt="Logo" class="logo" src="Image"> -->
    </div>

  <div class="span7">
    <h2>Inventory Management</h2>
  </div>

  </div>
</div>
